.connection {
  padding-top: 100px;
  padding-bottom: 130px;
  background-color: #000;

  &__title {
    margin-bottom: 30px;
  }

  &__offers {
    margin-bottom: 50px;
  }
}

.offers {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 50px;
  justify-content: space-between;
}

.offer-item {
  width: 40%;
  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  &__desc {
    font-size: 15px;
    line-height: 18px;
  }
}

@media (max-width: 300px) {
  .connection {
    padding-top: 30px;
    padding-bottom: 50px;
    &__offers {
      margin-bottom: 30px;
    }
  }

  .offer-item {
    width: 100%;
  }

  .offers {
    row-gap: 30px;
  }
}
