.header {
  position: absolute;
  padding: 15px;
  z-index: 1;
  width: 100%;
}

.hamburger {
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;

  &:active {
    transform: scale(1.1);
  }
}

.nav-links {
  position: absolute;
  display: flex;
  width: 90%;
  border-radius: 15px;
  padding: 20px;
  top: 100%;
  flex-direction: column;
  background-color: rgb(238, 238, 238);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  left: -100%;

  &--active {
    left: 50%;
    transform: translateX(-50%);
  }
  &__item {
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;

    &:hover {
      color: black;
      background-color: rgb(163, 163, 163);
    }
  }
}
